body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
    width: 100%;
    height: 650px;
}

.filter-container {
    z-index: 1;
    position: fixed;
}

.slide-bar-container {
    width: 100%;
}

.slide-bar-token {
    position: absolute;
    width: 12px;
    height: 12px;
    background: red;
}

.slide-bar {
    position: absolute;
    background: black;
    width: 100%;
    height: 10px;
}

canvas {
    position: fixed;
    z-index: -1;
}

.filter-container {
    position: absolute;
}
