input,
button,
submit {
    border: none;
}

.IO-UI-main-container {
    z-index: 100;
    position: relative;
    margin: auto;
    width: 50%;

    color:
}

.IO-UI-input-bar-container {
    text-align: center;
}

.IO-UI-input-bar {
    z-index: -2;
    position: absolute;
    background-color: #CCCCCC;
    left: 0;
    right: 0;
    height: 10px;
    border-radius: 10px;
}

.IO-UI-token-container {
    position: absolute;
}

.IO-UI-token {
    margin-right: -9px;
    position: fixed;
    border-radius: 15px;
    width: 18px;
    height: 18px;
    background-color: #CCCCCC;
}

.IO-UI-token {
    background: red;
}

.IO-UI-input-add-range-btn,
.IO-UI-delete-btn {
    border-radius: 25px;
    background-color: #CCCCCC;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.IO-UI-token-text {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #FFF;
}

#color-picker-container {
    position: fixed;
    text-align: center;
}

.IO-UI-input-info-fade {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    animation: signup-response 0.5s 1;
    -webkit-animation: signup-response 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay: 2s;
    -webkit-animation-delay: 1s;
    /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

@keyframes signup-response {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes signup-response {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.IO-UI-input-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.IO-UI-range {
    z-index: -1;
    opacity: 0.75;
    position: fixed;
    border-radius: 15px;
    width: 180px;
    height: 24px;
    background-color: #AAA;
}
